/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231;  background-image: url("../images/bg.png");
background-repeat: repeat;}
body, button, input, select, textarea { font-family: 'Merriweather'; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #FFF; text-decoration:none }
a:visited { color: #FFF; }
a:hover { color: #999; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; color: #FFF;}
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: auto; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ===================================================
    Initializr styles
    http://verekia.com/initializr/responsive-template
    Author: Jonathan Verrecchia
   =================================================== */

body{ font:18px/24px; color: #BBB; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight:100 !important; }

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header-container{ border-bottom: 0px solid #222222; }
/*#footer-container{ border-top:    20px solid #e44d26; }*/
#main aside      { border-top:    20px solid #e44d26; }

#header-container,
/*#footer-container*/,
#main aside{
	background:#333;
}

#title{ color:white; }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

header p
	{
line-height: 22px;
display: inline-block;
text-align:center;
}

header 
{
	text-align:center;
}

/* ==============
    MOBILE: Menu
   ============== */

nav a{
	display:block;
	margin-bottom:10px;
	padding:15px 0;

	background:#222222;
	color:white;

	text-align:center;
	text-decoration:none;
	font-size: 24px;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
	padding:30px 0;
}

#main article h1{
	font-size:22px;
	font-family:'Patua One';
	color: #333;
	text-align:center;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

#footer-container footer{
	color:white;
	padding:20px 0;
}

/* ===============
    ALL: Social
   =============== */

.social ul{ display: inline-block; list-style-type: none; margin: 0 0 0 -40px}
.social li{
    float: left;
    margin: 0 5px;
}
.social a{
    width: 44px;
    height: 44px;
    display: inline-block;
    text-indent: -99999px;
    background-color: transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}   
.social a.twitter{background:url(../images/social/twitter.png) center top;}
.social a.tumblr{background:url(../images/social/tumblr.png) center top;}
.social a.youtube{background:url(../images/social/youtube.png) center top;}
.social a.vimeo{background:url(../images/social/vimeo.png) center top;}
.social a.facebook{background:url(../images/social/facebook.png) center top;}
.social a:hover{background-position:center bottom;}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav a{
		float:left;
		width:27%;
		margin:0 1.7%;
		padding:5px 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

/* ============
    WIDE: Menu
   ============ */
	

	nav{
		margin: 0 auto;
		width:38%;
	}

/* ============
    WIDE: Main
   ============ */

	#main article{
		width:57%;
		margin:0 auto;
	}
		
	#main aside{
		float:right;
		width:28%;
	}
}



@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ***** mmGallery ***** */

.galleryWrapper{
	position: relative;
	width: 100%;
	height: 270px;
	overflow: visible;
	float: left;
	background-image: url(../images/gallery_bg.gif);
	background-repeat: repeat;
	z-index: -1;
	margin-top: 165px;
    -moz-box-shadow:0px 2px 14px #000 inset;
    -webkit-box-shadow:0px 2px 14px #000 inset;
    box-shadow:0px 2px 14px #000 inset;
}




#mmGallery_container{
    position:relative;
    top:0px;
	left:0;
    z-index:1;
    /*height: 200px; will be handled by jQuery */
    width:100%;   /*  SET WIDTH!  */
	left:0;
    overflow:hidden;
    background:transparent;
    -webkit-box-shadow: 0px 6px 12px -6px black;
    moz-box-shadow: 0px 6px 12px -6px black;
	box-shadow: 0px 6px 12px -6px black;

}

#mmGallery{
    position:relative;
    margin:0 auto;
    text-align:center;
}
#mmGallery img{
	position: relative;
	
	opacity: 1;
	-khtml-opacity: 1;
	border: 0px;
}

#mmGallery img:hover{
	position: relative;
	opacity: 0.3;
	-khtml-opacity: 0.3;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	border: 0px;
}
/* ***** mmGallery END***** */

a:hover {
	text-decoration:none !important;	
}

#news {
	margin:0 auto;
	width:50%;
}

#ticker {
	width: 100%;
	height: 20px;
	overflow: hidden;
	border: 1px solid #DDD;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;
	text-shadow:#FFF; 3px 3px 0, #000 3px 3px 0;
	color: #555;
	font-size: 15px;
	background-image:url(../images/bg3.png);
	float:right;
	opacity:0.5;
}

#ticker li {
	height: 30px;
	border-bottom: 1px dotted #DDD;
	padding: 2px;
	margin: 0px 5px;
	font: 14px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif; 
	text-shadow:#FFF; 3px 3px 0, #000 3px 3px 0;
	color: #CCC;
	font-size: 10px; text-align:center;
}

#ticker  a  {color:#CCC; font-style:italic; text-decoration:none;}
#ticker  a:hover  {color:#fff; font-style:italic; }
