@charset "utf-8";
/* CSS Document */

html {
overflow:hidden;
}
.works{
	 padding: 10px;
	 font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	 color:#BBB;
	height: 92%;
	overflow: auto;
}
.content{
	height: 100%;	
}

.works h1 {
	text-align:right;	
	font-weight:100!important;
	font-family:'Yanone Kaffeesatz', sans-serif !important;
	font-size: 48px;
	line-height:0px;
	color: #FFF;
}
.works h1 strong,  .works h1 b
{
	color:#999 !important;
	font-weight: 100 !important;	
}
.works p {
	padding: 10px;	
}
.works header {
	font-weight:bold;
	color:#f15a22;	
}
.zoom p {
position: absolute;
top: 3px;
right: 5px;
color: #888;
opacity: 0.9;
}
.zoomIcon { 
		width:33px; 
		height:33px; 
		position:absolute; 
		top:0;
		right:0;
		background:url(../images/icon.png);
		opacity:0.9;
	}

	.zoom {
		display:inline-block;
		position:relative;

	}

	.zoom img {
		display: block;
	}

	.zoom img::selection { background-color: transparent; }

	#ex2 img:hover { cursor: url(../images/grab.cur) , default; }
	#ex2 img:active { cursor: url(../images/grabbed.cur) , default; }

.zoom img2 {
	width:100%;
}