html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.share ul li {
    display: inline-block;
    vertical-align: middle;
    /*height: 40px;*/
    width: 40px;
    position: relative;
    left: -40px;
}

.share ul {
    white-space: nowrap;
}

.share {
    height: 25px;
    width: 126px;
    left: 50%;
    position: absolute;
    margin-left: -63px;
    bottom: 80%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

address {
    margin-bottom: 0px;
    z-index: 4204;
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    max-width: 100%;
    vertical-align: middle;
    height: 80%;
    width: 100%;
}

.swiper-container {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 20px;
    font-family: 'oswald';
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-position: center;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.container-fluid a, .container a {
    color: #337ab7;
}

    .container-fluid a:hover, .container a:hover {
        color: #FFF;
        text-decoration: none;
    }

.container-fluid p, .container p {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'oswald';
}

    .container-fluid p.sub, .container p.sub {
        text-align: center;
        font-size: 14px;
        text-transform: none;
        font-weight: 300;
        font-family: 'crimson';
        letter-spacing: 1px;
    }

@media (min-width: 768px) {
    .swiper-slide {
        font-size: 30px;
    }

    .container-fluid p, .container p {
        font-size: 30px;
    }

        .container-fluid p.sub, .container p.sub {
            font-size: 24px;
        }
}

.hideAfterFade {
    display: none;
}

.opacity-2 {
    opacity: 0.2;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


.form-group {
    margin-bottom: -10px;
    margin-top: -15px;
}

@media (min-width: 768px) {
    .form-group {
        margin-bottom: -10px;
        margin-top: -5px;
    }
}

.margin-top-25 {
    margin-top: 25px;
}

/* Side Menu */
#top-nav {
    position: fixed;
    width: 100%;
    z-index: 256;
}

.linkage {
    margin: 0 2% 0 2%;
}

a.linkage:hover, a.linkage:focus {
    text-decoration: none;
}

.container-new {
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
