html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.share ul li {
    display: inline-block;
    vertical-align: middle;
    /*height: 40px;*/
    width: 40px;
    position: relative;
    left: -40px;
}

.share ul {
    white-space: nowrap;
}

.share {
    height: 25px;
    width: 126px;
    left: 50%;
    position: absolute;
    margin-left: -63px;
    bottom: 80%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

address {
    margin-bottom: 0px;
    z-index: 4204;
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    max-width: 100%;
    vertical-align: middle;
    height: 70%;
    width: 100%;
}

.swiper-container {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 20px;
    font-family: 'oswald';
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-position: center;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.table-div {
    display: table;
    width: 100%;
    height: 100%;
}

.table-div-cell {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}

    .table-div-cell a {
        color: #337ab7;
    }

        .table-div-cell a:hover {
            color: #FFF;
            text-decoration: none;
        }


    .table-div-cell p {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'oswald';
    }

        .table-div-cell p.sub {
            text-align: center;
            font-size: 14px;
            text-transform: none;
            font-weight: 300;
            font-family: 'crimson';
            letter-spacing: 1px;
        }


@media (min-width: 768px) {
    .swiper-slide {
        font-size: 30px;
    }

    .table-div-cell p {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'oswald';
    }

        .table-div-cell p.sub {
            font-size: 24px;
            text-transform: none;
            font-weight: 300;
            font-family: 'crimson';
            letter-spacing: 1px;
        }
}

.hideAfterFade {
    display: none;
}

.opacity-2 {
    opacity: 0.2;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


.form-group {
    margin-bottom: -10px;
    margin-top: -15px;
}

@media (min-width: 768px) {
    .form-group {
        margin-bottom: -10px;
        margin-top: -5px;
    }
}

.margin-top-25 {
    margin-top: 25px;
}

/* Side Menu */
#top-nav {
    position: fixed;
    width: 100%;
    z-index: 256;
}

.linkage {
    margin: 0 2% 0 2%;
    cursor:pointer;
}

a.linkage:hover, a.linkage:focus {
    text-decoration: none;
}

.overflow-scroll {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch !important;
}

@media (min-width: 768px) {
    .child {
        height: 80%;
    }

    #contact-form {
        overflow-x: visible !important;
        overflow-y: visible !important;
        height: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }

    */
}

#nanoGallery2 {
    font-size: 14px !important;
}

.nanogallery_theme_default .nanoGalleryNavigationbar {
    border-top: 0px solid #555;
    border-bottom: 0px solid #555;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer {
    cursor: pointer;
    border: 0px solid #000;
    padding: 0;
    background-color: transparent;
}

.nanogallery_theme_default .nanoGalleryBreadcrumb {
    margin: 1px;
    padding: 4px;
    text-align: center;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    display: table-cell;
    width: 100%;
    overflow: hidden;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelFolderTitle:before {
    content: none;
    margin-left: .2em;
    margin-right: .2em;
    Text-Shadow: #000 1px 0 0,#000 1px 1px 0,#000 1px -1px 0,#000 -1px 1px 0,#000 -1px 0 0,#000 -1px -1px 0,#000 0 1px 0,#000 0 -1px 0;
    font-family: nano_icon_font3;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImage {
    background: rgba(34,34,34,.75);
    opacity: 1;
    text-align: center;
    margin: 5px;
    left: 0;
    position: absolute;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-size: 12px;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbarContainer {
    visibility: hidden !important;
}

#back-to-top {
    z-index: 9999;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    display: none;
    font-size: 20px;
}

    #back-to-top:hover {
    }

    #back-to-top.show {
        display:block;
        opacity: 1;
    }

.outer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 100px;
    z-index: 1000;
    display: block;
}

.inner {
    display: inline-block;
}
.item img {
    padding:15px;
}
